{% extends "teachersapp/T000_Base.html" %}

{% block head %}
<script>
    function kaitRQTork() {
        document.getElementById('form').action = "{% url 'teachersapp:kaitRQTork' shitsmnInfo.SHITSMN_ID %}";
        document.getElementById('form').submit();
    }
</script>
<script>
    function back() {
        document.getElementById('form').submit();
    }
</script>
<script>
    function kaitRQKoshn() {
        document.getElementById('form').action = "{% url 'teachersapp:topPage' %}";
        document.getElementById('form').submit();
    }
</script>
<script>
    function kaitRQTorksh() {
        document.getElementById('form').action = "{% url 'teachersapp:topPage' %}";
        document.getElementById('form').submit();
    }
</script>
{% endblock head %}

{% block content %}

<div class="container">

    <div class="row gx-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <div class="p-3 mb-2 bg-light text-dark">
                <br>
                <h2>回答リクエスト登録</h2>
                <br>
                <!--仮エリア----------------------------------------------------------------->
                <label>タイトル：</label><label>{{shitsmnInfo.SHITSMN_TITLE}}</label>
                <br>
                <br>
                <label>ハッシュタグ：</label>
                <br>
                <label>{{shitsmnInfo.HASHTAG}}</label>
                <br>
                <label>質問内容：</label>
                <br>
                <label>{{shitsmnInfo.SHITSMN_NAIYO}}</label>
                <br>
                <br>
                <!--仮エリア----------------------------------------------------------------->
                <form id='form' name='form' method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" id="kibuJiknInfo" name="kibuJiknInfo" value="1">
                        <label class="form-check-label">
                            会議時間 第一希望：{{kibuJiknInfo1.KAISHNCHJ}} {{kibuJiknInfo1.KAIGIJIKN}}
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" id="kibuJiknInfo" name="kibuJiknInfo" value="2">
                        <label class="form-check-label">
                            会議時間 第二希望：{{kibuJiknInfo2.KAISHNCHJ}} {{kibuJiknInfo2.KAIGIJIKN}}
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" id="kibuJiknInfo" name="kibuJiknInfo" value="3">
                        <label class="form-check-label">
                            会議時間 第三希望：{{kibuJiknInfo3.KAISHNCHJ}} {{kibuJiknInfo3.KAIGIJIKN}}
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>回答者コメント：</label>
                        <textarea class="form-control" id="kaitUserComment" name="kaitUserComment" rows="5"
                            placeholder=""></textarea>
                    </div>
                    <br>
                    <!-- いらないかも？ ------------------------------------------>
                    <div class="form-group">
                        <label>リクエスト有効時間：</label>
                        <div class="col-md-2">
                            <select class="form-control">
                                <!-- ここの時間はDBから取得してfor文で回すように変更予定 -->
                                <option>２時間</option>
                                <option>4時間</option>
                                <option>6時間</option>
                                <option>10時間</option>
                                <option>24時間</option>
                                <!-- ここまで -->
                            </select>
                        </div>
                    </div>
                    <!-- いらないかも？ ------------------------------------------>
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <button type="button" onclick="kaitRQTork();"
                                class="btn btn-success btn-block">回答リクエスト登録</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" onclick="back();" class="btn btn-muted btn-block">戻る</button>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <button type="button" onclick="kaitRQKoshn();"
                                class="btn btn-success btn-block">回答リクエスト更新</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" onclick="kaitRQTorksh();"
                                class="btn btn-muted btn-block">回答リクエスト取り消し</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 右広告エリア ------------------------------------------------------------------------------->
        <div class="col-md-3">
            <!-- 一押し動画エリア ------------------------------------------------------------------------------->
            <div class="p-3 mb-2 bg-light text-dark">
                <h6>★今日の一押し★</h6>
                <div class="video">
                    <!-- <label>どこまでいってもにげてやる</label> -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UKESIh9fEfA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <!-- 一押し動画エリア ------------------------------------------------------------------------------->
            <br>
            <!-- ニュースエリア ------------------------------------------------------------------------------->
            <div class="p-3 mb-2 bg-light text-dark">
                <div class="">
                    <h5 class="tp_bg_newsAreaTitle">★新着ニュース</h5>
                    {% for json_newsInfo in json_keibaInfo.list_news_Info_gokum %}

                    <a class="text-decoration-none text-dark" href="{{json_newsInfo.newsURL}}" target="_blank">
                        <div class="tp_bg_newsArea">
                            <p>{{json_newsInfo.newsTitle}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- ニュースエリア ------------------------------------------------------------------------------->
        </div>
        <!-- 右広告エリア ------------------------------------------------------------------------------->
    </div>
    <br>
</div>





{% endblock content %}